@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg: #2e3440;
    --bg2: #161a1d;
    --text: #f5f3f4;
    --link: #d3d3d3;
    --theme: #81a1c1;

    --spacer: 1.3rem;
}

* {
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    cursor: default;
    /*transition: all 0.2s ease-in-out;*/
}

/* config */

body {
    background-color: var(--bg);
    color: var(--text);
    margin: 0%;
    padding: 0%;
}

p {
    margin: 0%;
    padding: 0.1rem;
    padding-left: 0rem;
    padding-bottom: .4rem;
}

main {
    padding: var(--spacer);
    line-height: 15px;
}

h2 {
    padding-top: var(--spacer);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    font-weight: bolder;
    /*font-size: large;*/
}

.navul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3rem;
}

ul {
    list-style-type: '- ';
    padding-left: 1rem;
    line-height: var(--spacer);
}

blockquote p:first-of-type::before {
    content: '> ';
    padding: 0%;
    margin: 0%;
    font-weight: bolder;
}

blockquote {
    font-style: italic;
    background-color: #00000020;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: fit-content;
    margin-left: 0rem;
    line-height: var(--spacer);
}

nav {
    padding: 0rem;
    padding-top: var(--spacer);
    padding-bottom:  var(--spacer);
    margin: 0%;
    padding-left:  var(--spacer);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3rem;
}

fieldset {
    width: max-content;
}

/* theming */

nav {
    background-color: #00000020;
}

a:hover {
    color: var(--text);
}

a {
    color: var(--link);
}

img {
    width: 25rem;
    height: auto;
    border-radius: 0.5rem;
}

h1, h2 {
    color: var(--theme);
    font-weight: bolder;
}

/* custom classes */

.themed, .theme a {
    color: var(--theme);
    font-weight: bolder;
    font-size: 150%;
}

.theme a:hover {
    /*font-size: 170%;*/
    font-weight: 900;
}

.active {
    font-weight: bold;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0rem;
    font-size: small;
    color: var(--theme);
    text-align: center;
    gap: 0.25rem;
    margin: 0%;
}

.footer p {
    padding: 0%;
}

.footer a {
    color: var(--theme);
    text-decoration: none;
    font-size: small;
}